alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias vimrc='vim ~/.vimrc'
alias sshfix='eval "$(ssh-agent -s)" && ssh-add'
# courses shortcuts
alias crs='cd ~/Documents/Spec/courses'
alias print='cd ~/Documents/Spec/printatcu-new'
alias runelasticsearch="elasticsearch --config=/usr/local/opt/elasticsearch/config/elasticsearch.yml"
#alias runpostgres="postgres -D /usr/local/var/postgres"
alias runpostgres="postgres -D /usr/local/var/postgres9.3"
alias runredis="redis-server"
alias runrails="crs && zeus start"
alias runzeus="crs && zeus start"

# Linux only
# alias startpostgres='sudo /etc/init.d/postgresql start'
# alias startelastic='sudo service elasticsearch start'
# alias stoppostgres='sudo /etc/init.d/postgresql stop'
# alias stopelastic='sudo service elasticsearch stop'
# alias startcourses='startpostgres && startelastic && startredis'
# alias stopcourses='stoppostgres && stopelastic'

# Columbia aliases
alias clic='ssh bll2121@clic.cs.columbia.edu' 
alias skl='cd ~/Documents/Columbia'
alias discrete='skl && COMS3203'
alias webdev='skl && COMS3101_part_1'
alias hw='vim ~/Documents/Columbia/hw.txt'
alias localhost='cd /Library/WebServer/Documents'

# /g/ood aliases
alias c="clear"
# Linux only
alias agi='sudo apt-get install'
alias agp='sudo apt-get purge'
alias agu='sudo apt-get update'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias dream="~/.dream.sh"
