alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias vimrc='vim ~/.vimrc'
alias sshfix='eval "$(ssh-agent -s)" && ssh-add'
alias c="clear"

# bitly
alias blvm="ssh root@bitly.org"
alias bitly="cd /bitly/src/github/bitly"

# Linux only
alias agi='sudo apt-get install'
alias agp='sudo apt-get purge'
alias agu='sudo apt-get update'
alias ducks='du -cks * | sort -rn | head'

# bagels
alias b='sh ~/bagel.io/bagel.sh theusual'
alias order='sh ~/bagel.io/bagel.sh'

# Appended aliases

